



                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    

    <div class="main-wrapper">
			<div class="document-title">
                <div class="container ">
                    <h1 class="text-center">Activation Link Sent</h1><br>
                </div><!-- /.container -->
            </div><!-- /.document-title -->

            <div class="container">
				<div class="row">
					<div class="col-lg-12 text-center vheight2">
						<h4> Account activation link has been sent to the email id provided. Please check your email to complete registration.</h4>
						<p>Not yet received? <a href="#">Resend activation link</a></p>
						
					</div><!-- /.col-* -->
				</div><!-- /.row -->
			</div><!-- /.container -->
	</div><!-- /.main-wrapper -->


