
	


<div class="page-wrapper">
    <div class="header-wrapper">
    <div class="header ">
        <div class="header-top">
            <div class="container">
                <div class="header-brand">
                    <div class="header-logo">
                        <a href="index.html" style="text-decoration:none; color:white;">
                            <div class="col-sm-12"><h1 align="center"></h1></div>
                        </a>
                    </div><!-- /.header-logo-->
                </div><!-- /.header-brand -->
             

                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- /.container -->
        </div><!-- /.header-top -->
    </div><!-- /.header -->
</div><!-- /.header-wrapper-->


    <div class="main-wrapper">
        <div class="main">
            <div class="document-title">
                <div class="container">
                    <h1 class="text-center">Account Sign In</h1><br>
                </div><!-- /.container -->
            </div><!-- /.document-title -->

            <div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">
									<strong>Candidate Login </strong>
								</a>
							</li>

							<li role="presentation">
								<a href="#assessor" aria-controls="company" role="tab" data-toggle="tab">
									<strong>Assessor Login </strong>
								</a>
							</li>
							<li role="presentation">
								<a href="#company" aria-controls="company" role="tab" data-toggle="tab">
									<strong>Employer Login </strong>
								</a>
							</li>
						</ul>

						<div class=" well tab-content">
							<div role="tabpanel" class="tab-pane active" id="personal">
								<div class="row">
									<div class="col-sm-6">
										<form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Email</label>
            <input type="email" placeholder="Email" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Email  required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="password" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password  required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
       
            <hr>
            <a href="#/resetpassword" class="btn btn-link">Forget Password</a>
        </div>
    </form>
         <label>Not a Member ?</label> <a href="#/register" class="btn btn-primary">Register</a>

</div>
                                
									</div><!-- /.row -->
							</div><!-- /.tab-pane -->
						
							<div role="tabpanel" class="tab-pane" id="company">
								<div class="row">
									<div class="col-sm-6">
										<form method="get" action="?">
											<div class="form-group">
												<label for="form-login-username">Email</label>
												<input type="text" class="form-control" id="form-login-username">
											</div><!-- /.form-group -->

											<div class="form-group">
												<label for="form-login-password">Password</label>
												<input type="password" class="form-control" id="form-login-password">
											</div><!-- /.form-group -->

											<div class="form-group">
												<button type="submit" class="btn btn-secondary btn-block">Sign in</button>
											</div><!-- /.form-group -->
											<div class="checkbox">
												<a href="#" class="link-not-important pull-right">Forgot Password?</a>
											</div><!-- /.checkbox -->								
										</form>
									</div><!-- /.col-* -->
									
									<div class="col-sm-6 text-center">
										<h2>OR</h2>
										<img src="images/linkedin.png">
									</div><!-- /.col-* -->
								</div><!-- /.row -->
								<hr>
									<div class="row">
										<div class="col-sm-12 text-center">
											<label>Not a member?</label>
											<a href="#" class="btn btn-primary">Sign Up</a>
										</div><!-- /.col-sm-6 -->
									</div><!-- /.row -->
							</div><!-- /.tab-pane -->
				
						</div><!-- /.tab-content -->
					</div><!-- /.col-* -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.main -->
    </div><!-- /.main-wrapper -->
</div><!-- /.page-wrapper -->