<div class="container-fluid text-center bg-success "> <!--Main Div-->
			<div class= "col-lg-12"> <!--Header Div-->
				<h1 class="htext">
				<a class="pull-right" href="#"> <img  src="images/cancel.png"></a></h1>
			</div><!--Close Header Div-->
			
			<div class="row content"> <!--Form Row-->
			<div class="container col-lg-4 col-lg-offset-4 white-bg vheight5"> <!--Form Container-->
				<form class="form-horizontal" role="form" ng-submit="vm.setnewpassword()">
					<div class="col-lg-12"> <!--Form Heading-->
					<h3 align="center">Reset Password</h3>
					</div> <!-- Close Form Heading-->
					
					<div class="col-lg-12 ">	<!--Form Div-->
						<div class="form-group col-sm-12 ">
							<label class="control-label col-sm-5 text-left" for="email">New Password:</label>
								<div class="col-sm-7">
									<input type="password" class="form-control" id="new-pwd" placeholder="New Password" ng-model="vm.password">
								</div>
						</div>
						<div class="form-group col-sm-12">
							<label class="control-label col-sm-5 text-left" for="email">Retype Password:</label>
								<div class="col-sm-7">
									<input type="password" class="form-control" id="confirm-pwd" placeholder="Retype Password" ng-model="vm.confirmpassword">
								</div>
						</div>
						<div class="form-group col-sm-12">	
							<button class="btn btn-primary" type="submit">Reset</button>
						</div>
					</div> <!--Close Form Div-->
				</form>
			</div> <!-- Close Form Container-->
		</div> <!--Close Form Row-->			
	</div>	<!-- Close Main Div-->		
	